<div class="why">
    <div class="why__title-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="why__title">Why choose Aerokube</h2>
                </div>
            </div>
            <div class="row">
                <ul class="col-10 offset-1 why__steps">
                    <li class="why__step"><strong>Experienced team.</strong> We have more than 10 years of experience with large scale browser automation infrastructure. Clusters that we manage have more than 5000 browsers running in parallel.</li>
                    <li class="why__step"><strong>Reliable products.</strong> Creating solutions that work under any load is our top priority.</li>
                    <li class="why__step"><strong>Powerful features.</strong> Our solutions support all popular browser automation frameworks: <a href="https://selenium.dev/" title="Selenium" target="_blank">Selenium</a>, <a href="https://playwright.dev/" title="Playwright" target="_blank">Playwright</a>, <a href="https://pptr.dev/" title="Puppeteer" target="_blank">Puppeteer</a> and <a href="https://cypress.io/" title="Cypress" target="_blank">Cypress</a>.</li>
                    <li class="why__step"><strong>Easy to deploy and maintain.</strong> We provide ready-to-use manifests and instructions allowing to launch working infrastructure in minutes. Our infrastructure requires little or almost no maintenance.</li>
                    <li class="why__step"><strong>Cost-efficient.</strong> Our solutions have low memory and CPU consumption. Built-in automated scaling feature dramatically lowers final cost of browser automation infrastructure.</li>
                    <li class="why__step"><strong>Enterprise level security.</strong> Our solutions support enterprise technologies such as additional <a href="https://en.wikipedia.org/wiki/Transport_Layer_Security" title="TLS" target="_blank">TLS</a> certificates, private container registries, <a href="https://openid.net/connect/" title="OpenID Connect" target="_blank">OpenID Connect</a>, fine-grained authentication and authorization out of the box.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
