<p>Aerokube is a small team of software developers. We are creating large scale software testing infrastructure for more than 5 years. We have expertise in the following domains:</p>

<h2>Selenium</h2>

<p>If you need to do some automated tasks in browsers then <a href="http://seleniumhq.org/" target="_blank">Selenium</a> is your best friend. Our experience in building large Selenium clusters allows to create scalable Selenium installation meeting your needs. We also contribute to open-source Selenium tools development. Take a look at our articles and tools we provide for free:</p>

<h3>Articles</h3>
<ul>
  <li><a href="https://medium.com/@aandryashin/selenium-testing-a-new-hope-7fa87a501ee9" target="_blank">Selenium: a new hope (part I)</a></li>
  <li><a href="https://hackernoon.com/selenium-testing-a-new-hope-a00649cdb100#.nbm5hsyqn" target="_blank">Selenium: a new hope (part II)</a></li>
  <li><a href="https://habrahabr.ru/post/322742/" target="_blank">Previous article translated to Russian</a></li>
  <li><a href="https://medium.com/@aandryashin/selenium-done-in-60-seconds-176796f8bdc7" target="_blank">Selenium: done in 60 seconds</a></li>
  <li><a href="https://habrahabr.ru/post/327184/" target="_blank">Previous article translated to Russian</a></li>
</ul>

<h3>Open-source tools</h3>
<ul>
  <li><a href="https://github.com/aerokube/selenoid" target="_blank" >Selenoid</a> - an alternative Selenium Hub implementation launching browsers within <a href="http://docker.com/">Docker</a> containers</li>
  <li><a href="https://github.com/aerokube/selenoid-ui" target="_blank" >Selenoid UI</a> - standalone user interface for Selenoid</li>
  <li><a href="https://github.com/aerokube/ggr" target="_blank" >Ggr</a> - a lightweight router to create scalable Selenium clusters</li>
  <li><a href="https://github.com/aerokube/selenium-mock" target="_blank" >Selenium Mock</a> - a mock application implementing Selenium protocol</li>  
</ul>

<h2>Automatic test runtimes</h2>
<p>Medium and big size software products often contain a lot of automatic tests. More features you add - more tests need to be executed. We know how to efficiently run such quantities of automatic tests to stay agile.</p>

<h2>Software testing consulting</h2>
<p>In addition to correct software testing infrastructure we can also optimize your testing workflow. An optimal ratio between automated and manual testing combines testing efficiency with reduced cost.</p>

<h2>Automated infrastructure online</h2>
<p>We are currently working on SaaS software testing solution including automatic tests runtime and big Selenium cluster. Follow our <a href="http://twitter.com/aerokube" target="_blank">@aerokube</a> for more details.</p>
